service: bref-demo-binary

plugins:
    - ./vendor/bref/bref

provider:
    name: aws
    region: us-east-1
    runtime: provided
    apiGateway:
        binaryMediaTypes:
            - '*/*'

    environment:
        APP_ENV: prod
        APP_SECRET: 7ca3adc3815e12d67b4637595b7f9dff
        MY_BUCKET: 'bref-example'
        BREF_BINARY_RESPONSES: 1

functions:
    api:
        handler: public/index.php
        description: ''
        timeout: 28 # in seconds (API Gateway has a timeout of 29 seconds)
        layers:
            - ${bref:layer.php-74-fpm}
        events:
            -   http: 'ANY /'
            -   http: 'ANY /{proxy+}'
